@font-face {
  font-family: 'Segoe';
  src: url("../fonts/segoescript/SegoeScript.woff"),
  url("../fonts/segoescript/SegoeScript.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}